<html>
    <head>
        <title>{{name}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>{{name}}</h1>
            <hr>
            {{#methods}}
            <h3>{{name}}</h3>
            <ul>
                {{#scenarios}}
                <li>{{description}} &rarr; {{outcome}}</li>
                {{/scenarios}}
            </ul>
            {{/methods}}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>